@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    min-width: 15rem;
    min-height: 20rem;
    max-width: 15rem;
    max-height: 20rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    @apply rounded-lg relative ;
}
